@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&display=swap");

html {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  text-align: center;
  width: 100%;
  color: #000;
}
body {
  background-image: url(img/daywall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  padding: 10px 10px 20px 10px;
  height: auto;
  width: 60%;
  background-color: antiquewhite;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.397);
  border-radius: 16px;
  box-shadow: 0 4px 35px 8px rgba(255, 255, 255, 0.1) inset;
}
.from-To {
  display: flex;
  width: 101%;
}

#fromBox {
  margin: 20px 10px;
  font-size: 15px;
  text-align: left;
  width: 95%;
  padding: 10px;
}
#toBox {
  margin: 20px 10px;
  font-size: 15px;
  text-align: left;
  width: 95%;
  padding: 10px;
}
#data1,
#data2 {
  height: 90%;
  width: 100%;
  border-radius: 8px;
}

.input {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#input {
  width: 95%;
  height: 50px;
  border-radius: 10px;
  border-style: none;
  letter-spacing: 2px;
  padding-left: 10px;
}

#input:placeholder-shown {
  text-align: center;
  color: rgb(0, 0, 0);
}
label {
  text-align: left;
  font-size: 20px;
}

#btnBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px 20px;
}
#reset,
#swapBtn,
#converBtn {
  height: 40px;
  width: 150px;
  border-radius: 10px;
  border-style: none;
  background-color: rgba(22, 29, 29, 0.733);
  color: aliceblue;
  cursor: pointer;
}

#reset:hover,
#swapBtn:hover,
#converBtn:hover {
  background: rgba(59, 78, 78, 0.733);
}
#reset:active,
#swapBtn:active,
#converBtn:active {
  scale: 0.9;
  transition: 0.2s;
  font-size: 16px;
}

#output {
  height: 90px;
  width: 95%;
  border-radius: 10px;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bold;
}
.output {
  display: flex;
  justify-content: center;
  align-items: center;
}
#output:placeholder-shown {
  text-align: center;
  color: rgb(218, 25, 25);
  background: #a5959533;
}
.mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
